@page
@model IndexModel
@{
    Layout = "_LayoutHome";
    ViewData["Title"] = "Home page";
}

<div class="title homeTitle">
    <h1>Innovation beyond your imagination</h1>
    <h3>Wow look at this amazing opportunity you should jump on this, here’s some more interesting text that no one is going to read but it’ll make this whole thing look more official.</h3>
</div>
