@page
@model IndexModel
@{
    Layout = "_LayoutHome";
    ViewData["Title"] = "Home page";
}

<div>
    <h2 class="homeTitle" style="color: #917151">PARNELL</h2>
    <h2 class="homeTitle" style="color: #FFFFFF">AEROSPACE</h2>
</div>
