@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <h2>PARNELL AEROSPACE</h2>
    <ul>
        <li><a asp-page="/Employees/Create">Sign up</a></li>
        <li><a asp-page="/Employees/Index">Cadets</a></li>
    </ul>
</div>
