@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <h2>HR Database</h2>
    <ul>
        <li><a asp-page="/Employees/Index">Employees</a></li>
        <li><a asp-page="/Tools">Tools</a></li>
    </ul>
</div>
