@page
@model HR.Pages.ToolsModel
@{
    ViewData["Title"] = "Tools";
}

<div class="row">
    <h2>API</h2>
    <ul>
        <li><a href="api/Employees" target="_blank">Get Employees</a></li>
    </ul>
</div>
