@page
@model HR.Pages.ToolsModel
@{
    ViewData["Title"] = "Tools";
}

<div class="row">
    <h2>API</h2>
    <ul>
        <li><a href="api/Employees" target="_blank">Get Employees</a></li>
    </ul>
</div>
<div class="row">
    <h2>Function</h2>
    <ul>
        <li><a href="api/EmployeeFunctions" target="_blank">Get Employees</a></li>
        <li><a asp-page="/EmployeeFunctions/Create">Add Employee</a></li>
    </ul>
</div>
